.logo {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  img {
    width: 100%;
    height: 100%;
  }
}

/*.site-header .site-title {
  float: left;
  transform: translateY(100%);
}

.site-nav.right {
  transform: translateY(100%);
}*/

@media screen and (min-width: 48em) {
  .logo {
    top: -10px;
    height: 150%;
  }
  .site-header .site-title {
    padding-left:40px;
  }
  .mt2.wrap {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}

@media screen and (max-width: 48em) {
  .site-header .site-title {
    display:none;
  }
  .site-nav.right {
    width:initial;
    float:right;
    margin-top: unset;
    margin-bottom: unset;
  }

  .mt2.wrap {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }
}

.site-header {
  background: white;
  position: fixed;
  width: 100%;
  padding: 0;
  z-index:9999;
}

.measure {
  position:relative;
}

.mt2.wrap {
  margin-top:0;
}