<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home" href="#" tooltip-placement="top" tooltip="Home"
                   ng-class="{'active': state.current.name == 'home'}"><i class="fa fa-home fa-3x"></i></a></li>
            <li><a ui-sref="work" tooltip-placement="top" tooltip="Work"
                   ng-class="{'active': state.current.name == 'work'}"><i class="fa fa-folder-o fa-3x"></i></a></li>
            <li><a ui-sref="photos" tooltip-placement="top" tooltip="Photography"
                   ng-class="{'active': state.current.name == 'photos'}"><i class="fa fa-camera-retro fa-3x"></i></a></li>
            <li><a ui-sref="projects" tooltip-placement="top" tooltip="Dragons Be Here"
                   ng-class="{'active': state.current.name == 'projects'}"><i class="fa fa-magic fa-3x"></i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="showcasePane" ng-class="state.current.name">
                <div class="contentPane" ui-view></div>
            </div>
        </div>
    </div>
</div>