<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#" tooltip-placement="top" tooltip="Home"
                   ng-class="{'active': state.current.name == 'home'}"><i class="fa fa-home fa-3x"></i></a></li>
            <li><a tooltip-placement="top" tooltip="Work"><i class="fa fa-folder-o fa-3x"></i></a></li>
            <li><a tooltip-placement="top" tooltip="Photography"><i class="fa fa-camera-retro fa-3x"></i></a></li>
            <li><a tooltip-placement="top" tooltip="Dragons Be Here"><i class="fa fa-magic fa-3x"></i></a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-2">
            <div class="showcasePane"><!--ng-style="{'height':state.current.data.height}"-->
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>