[ui-view].contentPane.ng-enter, [ui-view].contentPane.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].contentPane.ng-enter {
  opacity: 0;
  -o-webkit-transition-delay:1.5s;
  -moz-webkit-transition-delay:1.5s;
  -webkit-transition-delay:1.5s;
  transition-delay: 1.5s;
}

[ui-view].contentPane.ng-enter-active {
  opacity: 1;
}

[ui-view].contentPane.ng-leave {
  opacity: 1;
}

[ui-view].contentPane.ng-leave-active {
  opacity: 0;
}