[ui-view].contentPane.ng-enter, .contentPane.ng-leave {
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
  position:absolute;
}

[ui-view].contentPane.ng-enter {
  opacity: 0;
  transition-delay: 1.5s;
}

[ui-view].contentPane.ng-enter-active {
  opacity: 1;
}

[ui-view].contentPane.ng-leave {
  opacity: 1;
}

[ui-view].contentPane.ng-leave-active {
  opacity: 0;
}