@import "variables.less";

ul.dropdown-menu {
  //Style-specific
  .foxx & {
    background-color: @themeDarkPrimary;
  }
  .triangle & {
    background-color: @triangle-Background;
  }
}

li {
  a {
/*    ul.dropdown-menu &,*/
    .navbar-default & {
      background-color: inherit;
      background-image: none;
      cursor: default;

      //Style-specific
      .foxx & {
        color: @theme-text-color;
      }
      .triangle &{
        padding-top:0px;
        color: @triangle-text-color;
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 1.2em;
          bottom: -1em;
          margin-left: -0.5em;
          border-bottom: solid 0em rgba(255, 255, 255,0.85);
          border-left: solid 1.8em transparent;
          border-right: solid 1.8em transparent;
          -moz-transition: border-bottom-width .25s ease-in-out;
          -webkit-transition: border-bottom-width .25s ease-in-out;
          -o-transition: border-bottom-width .25s ease-in-out;
          -ms-transition: border-bottom-width .25s ease-in-out;
          transition: border-bottom-width .25s ease-in-out;
          //stolen from http://html5up.net/astral
        }
      }

      &:hover,
      &.active {
        background-image: none;
        //Style-specific
        .foxx & {
          color: lighten(@theme-text-color, 30%);
          background-color: @themeDarkPrimary;
        }
        .triangle & {
          color: darken(@triangle-text-color,5%);
          background-color: transparent;
        }
      }
      &.active {
        &:after {
          border-bottom-width: 1.8em;
        }
      }
    }
  }
}
.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}

.navbar-default {
  margin-top:70px;
  margin-bottom:0px;
  padding-bottom:1em;
  border: 0px;
  background-image:none;

  .nav li {
    float:left !important;
    margin-right:0.5em;
  }

  //Style-specific
  .foxx & {
    background-color: @themeDarkPrimary;
    color: @theme-text-color;
  }
  .triangle & {
    background-color: transparent;
    color: @triangle-text-color;
  }

  .navbar-brand {

    //Style-specific
    .foxx & {
      color: @theme-text-color;
      &:hover {
        color: lighten(@theme-text-color, 30%);
      }
    }
    .triangle & {
      color: @triangle-text-color;
    }
  }
  li.dropdown {
    a.dropdown-toggle {

      //Style-specific
      .foxx & {
        color: @theme-text-color;
        &:hover {
          color: lighten(@theme-text-color, 30%);
        }
      }
      .triangle &{
        color: @triangle-text-color;
      }

    }
    &.open,
    &.active {
      a.dropdown-toggle {
        background-color: inherit;
        background-image: none;

        //Style-specific
        .foxx & {
          color: lighten(@theme-text-color, 30%);
        }
        .triangle & {
          color: darken(@triangle-text-color,20%);
        }

      }
    }
  }

}