@import "variables.less";

.foxx {
  .navbar-default {
    border: 0px;
    background-color: @themeDarkPrimary;
    background-image: none;
    color: @theme-text-color;
    li a {
      cursor:default;
      color: @theme-text-color;
      &:hover {
        color: lighten(@theme-text-color, 30%);
      }
    }
    .navbar-brand{
      color: @theme-text-color;
      &:hover {
        color: lighten(@theme-text-color, 30%);
      }
    }
    li.dropdown {
      a.dropdown-toggle {
        color: @theme-text-color;
        background-color: inherit;
        background-image: none;
        &:hover {
          color: lighten(@theme-text-color, 30%);
        }
      }
      &.open,
      &.active {
        a.dropdown-toggle {
          color: lighten(@theme-text-color, 30%);
        }
      }
    }
    ul.dropdown-menu {
      background-color: @themeDarkPrimary;
      li a {
        color: @theme-text-color;
       background-color: inherit;
        background-image: none;
        &:hover {
          color: lighten(@theme-text-color, 30%);
        }
      }
    }
  }
}