body.triangle {
  background-size: cover;
  color: @triangle-text-color;
  .jumbotron {
    background-color: transparent;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: @triangle-text-color;
  }
}

.section {
  .triangle & {
    background-color: transparent;
  }
}

body {
  &.sourcesans {
    font-family: 'Source Sans Pro', 'sans-serif' !important;
    font-weight:300 !important;
    h1,
    h2,
    h3,
    h4,
    h5
    {
      font-weight:400 !important;
    }
  }
}