.foxx{
  background-color:@themeBackground;
  color:@theme-text-color;
  a{
    color:@theme-link-color;
    &:hover{
      color:@theme-link-hover-color;
    }
  }
  .jumbotron{
    background-color:@themeBackground;
  }
  h1,
  h2,
  h3,
  h4,
  h5{
    color:@theme-text-color;
  }
}