//site-wide coloring

/*@theme-text-color: rgb(232,213,183);
@theme-link-color: rgb(252,58,81);
@theme-link-hover-color: lighten(@theme-link-color,10%);

@themeText: rgb(232,213,183);
@themeBackground: rgb(14,36,48);
@themeDarkPrimary: rgb(0,116,142);
@themeLightPrimary: rgb(252,58,81);
@themeLightPrimaryAlternate: rgb(248,148,6);*/

@theme-text-color: rgb(232,213,183);
@theme-link-color: rgb(232,213,183);
@theme-link-hover-color: lighten(@theme-link-color,10%);

@themeBackground: #53777a;
@themeDarkPrimary: #c02942;
@themeLightPrimary: #D95B43;
@themeLightPrimaryAlternate: #542437;

