//site-wide coloring
@body-bg: rgb(64,64,64);
@text-color: rgb(249,239,220);
@link-color: rgb(3,126,140);
@link-hover-color: rgb(2,73,89);

@themeBackground: rgb(64,64,64);
@themeText: rgb(249,239,220);
@themeDarkPrimary: rgb(3,126,140);
@themeLightPrimary: rgb(242,76,39);