/*@theme-text-color: rgb(232,213,183);
@theme-link-color: rgb(252,58,81);
@theme-link-hover-color: lighten(@theme-link-color,10%);

@themeBackground: rgb(14,36,48);
@themeDarkPrimary: rgb(0,116,142);
@themeLightPrimary: rgb(252,58,81);
@themeLightPrimaryAlternate: rgb(248,148,6);*/
body.foxx {
  background-image: none;
  background-color: #53777a;
  color: #eee0ca;
}
body.foxx a {
  color: #e8d5b7;
}
body.foxx a:hover {
  color: #f4ecde;
}
body.foxx .jumbotron {
  background-color: #53777a;
}
body.foxx h1,
body.foxx h2,
body.foxx h3,
body.foxx h4,
body.foxx h5 {
  color: #eee0ca;
}
body.triangle {
  background-size: cover;
  color: #000000;
}
body.triangle .jumbotron {
  background-color: transparent;
}
body.triangle h1,
body.triangle h2,
body.triangle h3,
body.triangle h4,
body.triangle h5 {
  color: #000000;
}
.triangle .section {
  background-color: transparent;
}
body.quicksand {
  font-size: 16px !important;
  font-family: 'Quicksand', 'sans-serif' !important;
}
body.sourcesans {
  font-family: 'Source Sans Pro', 'sans-serif' !important;
  font-weight: 300 !important;
}
body.sourcesans h1,
body.sourcesans h2,
body.sourcesans h3,
body.sourcesans h4,
body.sourcesans h5 {
  font-weight: 400 !important;
}
.foxx ul.dropdown-menu {
  background-color: #c02942;
}
.triangle ul.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.65);
}
li a {
  /*    ul.dropdown-menu &,*/

}
.navbar-default li a {
  background-color: inherit;
  background-image: none;
  cursor: default;
}
.foxx .navbar-default li a {
  color: #eee0ca;
}
.triangle .navbar-default li a {
  padding-top: 0px;
  color: #000000;
}
.triangle .navbar-default li a:after {
  content: '';
  display: block;
  position: absolute;
  left: 1.2em;
  bottom: -1em;
  margin-left: -0.5em;
  border-bottom: solid 0em white;
  border-left: solid 1.8em transparent;
  border-right: solid 1.8em transparent;
  -moz-transition: border-bottom-width 0.25s ease-in-out;
  -webkit-transition: border-bottom-width 0.25s ease-in-out;
  -o-transition: border-bottom-width 0.25s ease-in-out;
  -ms-transition: border-bottom-width 0.25s ease-in-out;
  transition: border-bottom-width 0.25s ease-in-out;
}
.navbar-default li a:hover,
.navbar-default li a.active {
  background-image: none;
}
.foxx .navbar-default li a:hover,
.foxx .navbar-default li a.active {
  color: #ffffff;
  background-color: #c02942;
}
.triangle .navbar-default li a:hover,
.triangle .navbar-default li a.active {
  color: #000000;
  background-color: transparent;
}
.navbar-default li a.active:after {
  border-bottom-width: 1.8em;
}
.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}
.navbar-default {
  margin-top: 70px;
  margin-bottom: 0px;
  padding-bottom: 1em;
  border: 0px;
  background-image: none;
}
.navbar-default .nav li {
  float: left !important;
  margin-right: 0.5em;
}
.foxx .navbar-default {
  background-color: #c02942;
  color: #eee0ca;
}
.triangle .navbar-default {
  background-color: transparent;
  color: #000000;
}
.foxx .navbar-default .navbar-brand {
  color: #eee0ca;
}
.foxx .navbar-default .navbar-brand:hover {
  color: #ffffff;
}
.triangle .navbar-default .navbar-brand {
  color: #000000;
}
.foxx .navbar-default li.dropdown a.dropdown-toggle {
  color: #eee0ca;
}
.foxx .navbar-default li.dropdown a.dropdown-toggle:hover {
  color: #ffffff;
}
.triangle .navbar-default li.dropdown a.dropdown-toggle {
  color: #000000;
}
.navbar-default li.dropdown.open a.dropdown-toggle,
.navbar-default li.dropdown.active a.dropdown-toggle {
  background-color: inherit;
  background-image: none;
}
.foxx .navbar-default li.dropdown.open a.dropdown-toggle,
.foxx .navbar-default li.dropdown.active a.dropdown-toggle {
  color: #ffffff;
}
.triangle .navbar-default li.dropdown.open a.dropdown-toggle,
.triangle .navbar-default li.dropdown.active a.dropdown-toggle {
  color: #000000;
}
.showcasePane {
  background-color: white;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 3em;
}
@media (max-width: 768px) {
  .homeCard {
    font-size: 2.0em;
  }
}
