/*@theme-text-color: rgb(232,213,183);
@theme-link-color: rgb(252,58,81);
@theme-link-hover-color: lighten(@theme-link-color,10%);

@themeBackground: rgb(14,36,48);
@themeDarkPrimary: rgb(0,116,142);
@themeLightPrimary: rgb(252,58,81);
@themeLightPrimaryAlternate: rgb(248,148,6);*/
.foxx {
  background-color: #53777a;
  color: #eee0ca;
}
.foxx a {
  color: #e8d5b7;
}
.foxx a:hover {
  color: #f4ecde;
}
.foxx .jumbotron {
  background-color: #53777a;
}
.foxx h1,
.foxx h2,
.foxx h3,
.foxx h4,
.foxx h5 {
  color: #eee0ca;
}
.foxx .navbar-default {
  border: 0px;
  background-color: #c02942;
  background-image: none;
  color: #eee0ca;
}
.foxx .navbar-default li a {
  cursor: default;
  color: #eee0ca;
}
.foxx .navbar-default li a:hover {
  color: #ffffff;
}
.foxx .navbar-default .navbar-brand {
  color: #eee0ca;
}
.foxx .navbar-default .navbar-brand:hover {
  color: #ffffff;
}
.foxx .navbar-default li.dropdown a.dropdown-toggle {
  color: #eee0ca;
  background-color: inherit;
  background-image: none;
}
.foxx .navbar-default li.dropdown a.dropdown-toggle:hover {
  color: #ffffff;
}
.foxx .navbar-default li.dropdown.open a.dropdown-toggle,
.foxx .navbar-default li.dropdown.active a.dropdown-toggle {
  color: #ffffff;
}
.foxx .navbar-default ul.dropdown-menu {
  background-color: #c02942;
}
.foxx .navbar-default ul.dropdown-menu li a {
  color: #eee0ca;
  background-color: inherit;
  background-image: none;
}
.foxx .navbar-default ul.dropdown-menu li a:hover {
  color: #ffffff;
}
