/*@theme-text-color: rgb(232,213,183);
@theme-link-color: rgb(252,58,81);
@theme-link-hover-color: lighten(@theme-link-color,10%);

@themeBackground: rgb(14,36,48);
@themeDarkPrimary: rgb(0,116,142);
@themeLightPrimary: rgb(252,58,81);
@themeLightPrimaryAlternate: rgb(248,148,6);*/
body.triangle {
  background-size: cover;
  color: #000000;
}
body.triangle .jumbotron {
  background-color: transparent;
}
body.triangle h1,
body.triangle h2,
body.triangle h3,
body.triangle h4,
body.triangle h5 {
  color: #000000;
}
.triangle .section {
  background-color: transparent;
}
body.sourcesans {
  font-family: 'Source Sans Pro', 'sans-serif' !important;
  font-weight: 300 !important;
}
body.sourcesans h1,
body.sourcesans h2,
body.sourcesans h3,
body.sourcesans h4,
body.sourcesans h5 {
  font-weight: 400 !important;
}
.triangle ul.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.65);
}
li a {
  /*    ul.dropdown-menu &,*/
}
.navbar-default li a {
  background-color: inherit;
  background-image: none;
  cursor: default;
}
.triangle .navbar-default li a {
  padding-top: 0px;
  color: #000000;
}
.triangle .navbar-default li a:after {
  content: '';
  display: block;
  position: absolute;
  left: 1.2em;
  bottom: -1em;
  margin-left: -0.5em;
  border-bottom: solid 0em rgba(255, 255, 255, 0.75);
  border-left: solid 1.8em transparent;
  border-right: solid 1.8em transparent;
  -moz-transition: border-bottom-width 0.25s ease-in-out;
  -webkit-transition: border-bottom-width 0.25s ease-in-out;
  -o-transition: border-bottom-width 0.25s ease-in-out;
  -ms-transition: border-bottom-width 0.25s ease-in-out;
  transition: border-bottom-width 0.25s ease-in-out;
}
.navbar-default li a:hover,
.navbar-default li a.active {
  background-image: none;
}
.triangle .navbar-default li a:hover,
.triangle .navbar-default li a.active {
  color: #000000;
  background-color: transparent;
}
.navbar-default li a.active:after {
  border-bottom-width: 1.8em;
}
.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}
.navbar-default {
  margin-top: 70px;
  margin-bottom: 0px;
  padding-bottom: 1em;
  border: 0px;
  background-image: none;
}
.navbar-default .nav li {
  float: left !important;
  margin-right: 0.5em;
}
.triangle .navbar-default {
  background-color: transparent;
  color: #000000;
}
.triangle .navbar-default .navbar-brand {
  color: #000000;
}
.triangle .navbar-default li.dropdown a.dropdown-toggle {
  color: #000000;
}
.navbar-default li.dropdown.open a.dropdown-toggle,
.navbar-default li.dropdown.active a.dropdown-toggle {
  background-color: inherit;
  background-image: none;
}
.triangle .navbar-default li.dropdown.open a.dropdown-toggle,
.triangle .navbar-default li.dropdown.active a.dropdown-toggle {
  color: #000000;
}
.contentPane.ng-enter,
.contentPane.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 3em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.contentPane.ng-enter {
  opacity: 0;
  -o-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.contentPane.ng-enter-active {
  opacity: 1;
}
.contentPane.ng-leave {
  opacity: 1;
}
.contentPane.ng-leave-active {
  opacity: 0;
}
.showcasePane {
  -webkit-transition: all 0.5s ease 1s;
  -moz-transition: all 0.5s ease 1s;
  -ms-transition: all 0.5s ease 1s;
  -o-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}
.container {
  -webkit-transition: width 0.5s ease 1s;
  -moz-transition: width 0.5s ease 1s;
  -ms-transition: width 0.5s ease 1s;
  -o-transition: width 0.5s ease 1s;
  transition: width 0.5s ease 1s;
}
@media (max-width: 767px) {
  .showcasePane.home {
    height: 300px;
  }
  .showcasePane.work {
    height: 850px;
  }
  .home .homeCard {
    font-size: 1.7em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .showcasePane.home {
    height: 350px;
  }
  .showcasePane.home .homeCard {
    font-size: 2.0em;
  }
  .showcasePane.work {
    height: 820px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homeCard {
    font-size: 2.6em;
  }
}
@media (min-width: 1201px) {
  /*  .grid-sizer {
    width: 20% !important;
  }

  .masonry-brick {
    width: 20% !important;
    &.wide {
      width: 40% !important;
    }
  }*/
  .homeCard {
    font-size: 3.1em;
  }
}
@media (min-width: 1400px) {
  /*  .grid-sizer {
    width: 20% !important;
  }

  .masonry-brick {
    width: 20% !important;
    &.wide {
      width: 40% !important;
    }
  }*/
  .container.photos {
    width: 1350px;
  }
}
@media (min-width: 1600px) {
  .grid-sizer {
    width: 20% !important;
  }
  .masonry-brick {
    width: 20% !important;
  }
  .masonry-brick.wide {
    width: 40% !important;
  }
  .container.photos {
    width: 1550px;
  }
}
@media (min-width: 1800px) {
  .grid-sizer {
    width: 20% !important;
  }
  .masonry-brick {
    width: 20% !important;
  }
  .masonry-brick.wide {
    width: 40% !important;
  }
  .container.photos {
    width: 1750px;
  }
}
.showcasePane {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 3em;
  margin-bottom: 3em;
  overflow-y: hidden;
  height: auto;
}
.showcasePane img.logo {
  max-width: 339px;
  width: 100%;
}
.showcasePane.home {
  height: 450px;
}
.showcasePane.work {
  height: 510px;
}
.showcasePane.work img {
  max-height: 200px;
}
.showcasePane.photos {
  height: 600px;
  min-height: 600px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.showcasePane.photos .grid-sizer {
  width: 25%;
}
.showcasePane.photos .masonry-brick {
  padding: 10px;
  width: 25%;
}
.showcasePane.photos .masonry-brick.wide {
  width: 50%;
}
.showcasePane.photos .masonry-brick:hover {
  z-index: 900;
}
.showcasePane.photos .masonryContainer img.showPhoto {
  opacity: 1;
}
.showcasePane.photos .masonryContainer img {
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.showcasePane.photos .masonryContainer img:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.8);
  box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.8);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.showcasePane.photos .filterBtnGroup .btn-link {
  color: #2f2f2f;
  font-size: 2em;
}
.showcasePane.photos .filterBtnGroup .btn-link:hover {
  text-decoration: none;
  color: #c02942;
}
.showcasePane.photos .filterBtnGroup .btn-link.active {
  color: #c02942;
}
.showcasePane.projects {
  height: 400px;
}
.thumbnail {
  background-color: #f5f5f5;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
.thumbnail .caption {
  color: black;
}
