<div id="introPage">
    <div class="section">
        <div class="jumbotron" style="height:100%">
            <div class="row text-center">
                <h1>Who is Matthew Foxx?</h1>
                <img class="text-center" src="/assets/img/foxxLogo.png">
            </div>
        </div>
    </div>
    <div class="section">
        <div class="jumbotron" style="height:100%">
            <div class="row text-center">
                <h1>A developer...</h1>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="jumbotron" style="height:100%">
            <div class="row text-center">
                <h1>A designer...</h1>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="jumbotron" style="height:100%">
            <div class="row text-center">
                <h1>A photographer...</h1>
            </div>
        </div>
    </div>
</div>
