<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
            <img class="screenshot" src="/assets/img/contigly.jpg">
            <div class="caption">
                <h3><a href="http://testing.contigly.com">Contigly</a></h3>
                <p>A barebones social network built for the commerical real estate industry.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
            <img src="/assets/img/gamefest.jpg" class="screenshot" alt="GT Gamfest">
            <div class="caption">
                <h3><a href="https://gtgamefest.com">GT Gamefest</a></h3>
                <p>Tournament and Event video gaming website for Georgia Tech eSports association. built with rich interaction for Users and Teams with Tournaments and bracketing.</p>
            </div>
        </div>
    </div>
</div>
        <div class="row text-center">
            <a class="btn btn-lg btn-info" href="/assets/resume.pdf" target="_blank">See My Resume</a>
        </div>